<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <ul>
      <% results.forEach(function(bananas) {
        %><li><%= bananas.audioClip %></li>
      <% }); %>
  </ul>

    <h2>Loop</h2>



  </body>
</html>
